.node-0hyvry3427vr {
  flex: 1 1 auto!important
}
.node-1dpu7b0a1q1 {
  height: 100%!important
}
.node-2g8at07oxxh {
  flex: 1 1 auto!important
}
.node-3gp7agv87bp {
  width: 100%!important;
  padding: 10px!important
}
.node-3ikp637dz8a {
  width: 264px!important;
  height: 185px!important
}
.node-6dq51ew1ky4 {
  flex: 1 1 auto!important
}
.node-7awh6bdmhai .dialog-box-content {
  padding: 15px!important
}
.node-7awh6bdmhai .dialog-window {
  box-shadow: 2px 2px 0 0 #000!important
}
.node-8dbgulsmazo {
  margin: 15px!important
}
.node-8tffm1dnozg {
  flex: 1 1 auto!important
}
.node-b4urpsgove {
  width: 22px!important;
  height: 39px!important
}
.node-d11d99jq6jj {
  width: 74px!important
}
.node-feezj9gplb8,
.node-gkpasqy0jik,
.node-p7qok3tkn3s {
  height: 100%!important
}
.node-qkl3v17k1cm {
  flex: 1 1 auto!important
}
.node-qzk4o36b31h {
  position: fixed!important;
  z-index: 999!important
}
.node-sb1iw84pnjl {
  width: 74px!important
}
.node-u0kg8gg0uzc,
.node-wvhuyoz7828 {
  height: 100%!important;
  flex: 1 1 auto!important
}
.node-yzgsvbkunj {
  width: 100%!important
}